@font-face {
  font-family: 'varino';
  src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\Varino - Normal.otf') format('truetype'); /* ajuste o nome do arquivo e o formato conforme necessário */
}

body {
  margin: 0;
  height: 500vh; 
  display: flex;
  background-image: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\background.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
  background-attachment: fixed; 
}


.titulo {
  font-family: 'varino', sans-serif; 
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 30px;
  line-height: 1.2; 
  font-weight: 200; 
  animation: slideInFromLeft 1s ease-out;
}

.sub-titulo{
  font-family: 'varino', sans-serif; 
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 20px;
  line-height: 1.2; 
  font-weight: 200; 
  display: flex; 
  align-items: center; 
  animation: slideInFromLeft 1s ease-out;
}
.social-icons {
  display: flex;
  gap: 10%; 
  margin-left: 10px;
  
}

.icon-link {
  color: #ffffff;
  font-size: 30px; 
  text-decoration: none; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.icon-link:hover {
  color: rgb(255, 255, 255); 
  transform: scale(1.1); 
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}