@font-face {
    font-family: 'varino';
    src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\Varino - Normal.otf') format('truetype'); /* ajuste o nome do arquivo e o formato conforme necessário */
  }

.titulo_curriculo {
    font-family: 'varino', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top:140%;
    left:10%;
    animation: slideInFromLeft 1s ease-out;
}



.swiper-container {
    width: 100%;
    height: auto; /* Altura definida para o Swiper */
    overflow: hidden; /* Esconde conteúdo extra */
    margin: 20px 0; /* Espaço em cima e embaixo */
    top: 160%;
    position: absolute;
}
