@font-face {
    font-family: 'varino';
    src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\Varino - Normal.otf') format('truetype'); /* ajuste o nome do arquivo e o formato conforme necessário */
  }

 @font-face {
    font-family: 'nasalization';
    src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\nasalization-rg.otf') format('truetype'); /* ajuste o nome do arquivo e o formato conforme necessário */
  }


.titulo_curriculo {
    font-family: 'varino', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top:140%;
    left:10%;
    animation: slideInFromLeft 1s ease-out;
}
.card-curriculo{
    width: 25em; 
    height: 30em; 
    background: rgba(143, 142, 142, 0.507);
    transition: 1s ease-in-out;
    backdrop-filter: blur(10px); 
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    top: 80%;
    left: 10%;
    margin-left: 45px;
}


.card-curriculo-h3{
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1.2em; 
    margin-top: 29px;
    font-family: 'varino', sans-serif; 
    margin-bottom: 28px;
}


.card-curriculo-p{
    margin-top: 25px;
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 1em; 
    margin: 1em;
    font-family: 'nasalization', sans-serif; 
}

.swiper-container {
    width: 100%;
    height: auto; /* Altura definida para o Swiper */
    overflow: hidden; /* Esconde conteúdo extra */
    margin: 20px 0; /* Espaço em cima e embaixo */
    top: 160%;
    position: absolute;
}
