@font-face {
    font-family: 'varino';
    src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\Varino - Normal.otf') format('truetype'); 
  }

 @font-face {
    font-family: 'nasalization';
    src: url('C:\Users\guilh\OneDrive\Desktop\portifolio-react-1\meu-site\public\nasalization-rg.otf') format('truetype'); 
  }

  .container-curriculo {
    width: 300px;
    padding: 20px;
    background-color:#565c66;;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 170vh;
    left: 10%;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    user-select: none;
    color: white;
    font-family: 'varino';
  }
  
  .option {
    font-weight: 500;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
  }
  
  .option:hover {
    background-color: #778b96;
  }
  
  .option .icon {
    width: 24px;
  }
  
  .input {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
  }
  
  .input:checked + .option {
    color: #000000;
    background-color: #778b96;
    border: 1px solid #7f90a5;
    border-radius: 8px;
  }
  
  .option:has(input:checked) {
    color: #000000;
    background-color: #778b96;
    border: 1px solid #7f90a5;
    border-radius: 8px;
  }
  



.info-card {
    width: 600px;
    height: 300px;
    padding: 15px;
    background-color: #565c66;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 200%;
    color: white;
    top: -5%;
    transition: opacity 0.5s ease-in-out; 
    font-family: 'nasalization';
}

/* Classes para animações */
.dynamic-out {
    animation: dynamic-out 0.5s forwards; 
}

.dynamic-in {
    animation: dynamic-in 0.5s forwards; 
}



@keyframes dynamic-in {
    0% {
        transform: scale(0.8) rotate(10deg); 
        opacity: 0; 
    }
    50% {
        transform: scale(1.05) rotate(-5deg); 
        opacity: 1; 
    }
    100% {
        transform: scale(1) rotate(0deg); 
        opacity: 1; 
    }
}

@keyframes dynamic-out {
    0% {
        transform: scale(1) rotate(0deg); 
        opacity: 1; 
    }
    50% {
        transform: scale(1.05) rotate(5deg); 
        opacity: 1; 
    }
    100% {
        transform: scale(0.8) rotate(-10deg); 
        opacity: 0; 
    }
}
  