.footer {
    background-image: url('../assents/footer.png');
    text-align: center; 
    margin-top: 5%;
    background-size: cover;
    height: 40vh;
  }
  
  .social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 60px; /* Espaçamento entre ícones */
  }
  
  .social-icon {
    color: white; /* Cor dos ícones */
    font-size: 60px; /* Tamanho dos ícones */
    transition: color 0.3s; /* Transição de cor */
  }
  
  .social-icon:hover {
    color: rgba(255, 255, 255, 0.8); /* Cor ao passar o mouse */
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Efeito neon */
}